In [1]:
import seaborn as sns
import pandas as pd
pd.set_option('mode.chained_assignment',None)

In [ ]:
df = pd.read_csv('../spims-dump.csv')
df.head(20)

In [3]:
sub_dfs = []
for term in 'ISTFC':
    sub_df = df[['layer_idx', term]]
    sub_df['term'] = term
    sub_df['metric'] = sub_df[term]
    del sub_df[term]
    sub_dfs.append(sub_df)
melt = pd.concat(sub_dfs)
melt.sample(10)

        layer_idx term    metric
1004            6    C  0.440062
219330          3    F  0.487119
39457           1    C  0.071036
64569           1    F  0.678276
352104          6    T  0.276688
200319          1    T  0.088505
195898          1    T  0.048327
117942          2    T  0.174994
225577          4    T  0.362503
99793           1    S  0.010708

In [ ]:
sns.lineplot(x='layer_idx', y='metric', hue='term', data=melt.sample(frac=1.0).reset_index(), ci='sd')